$def with (nav, login_form, message)

<head>
    <title>Beelance2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="shortcut icon" type="image/png" href="static/honeybee.png"/>
    <style>
        div {
            text-align: center;
        }
        button {
            width: 150px;
        }
      </style>
</head>

<body>
    
    $:nav

    $if not session.username:
        <h3>Log In</h3>
        <form method="POST">
            $:login_form.render()
        </form>

    $else:
        <h1>Logged in as $session.username</h1>
    
    <p>$:message</p>

    <div>
        <a target="_self" href="https://127.0.0.1:456/forgot_password">
            <button type=button">Forgot password?</button>
        </a>
    </div>
    <p style="color:red;">$:message</p>
    <img src="static/honeybee.png" alt="Honeybee">

</body>